*~
*.bak
*.orig
*.rej
*.exe
*.idb
*.ipch
*.pch
*.pdb
*.sdf
*.suo
*.tlog
*.user
*.VC.opendb
*.VC.db
Debug
Release
.vs
build-*
CMakeFiles/
CMakeCache.txt
*.so
cmake_install.cmake
src/0*/Makefile
src/1*/Makefile
src/2*/Makefile
CTestTestfile.cmake

